@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;   
    background-color: rgb(238, 242, 247);
}
/* ***********************************HEADING********************************************** */
.heading_container{
    height: 8vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b6163;
    position: absolute;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-size: 2.3rem;
}
/* ***********************************MAIN AREA********************************************** */
.working_area{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.menu_icon{
    height: 2rem;
    width: 2rem;
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 10px;
}
.menu_icon img{
    max-width: 100%;
    max-height: 100%;
}
.canvas_area{
    max-height: 100vh;
    width: 100vw;
    position: relative;
    top: 8vh;
    z-index: 2;
    transition: 0.5s ease-in-out;
    /* right: -178px; */
}
.canvas{
    height: 100vh;
    width: 100vw;
    background-color: rgb(238, 242, 247);
    background: transparent;
}

/* ***********************************TOOLBAR********************************************** */

.toolbar_container{
    height: 100vh;
    width: 30vh;
    position: absolute;
    top: 8vh;
    padding-top: 0.5rem;
    left: -218.6px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 100;
    background-color: #1b6163;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12),
    0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease-in-out;
}
.menu_icon:hover ~ .canvas_area{
    right: -178px;
}
.menu_icon:hover ~ .toolbar_container{
    left: 0;
}
.toolbar_container:hover{
    left: 0;
}
.toolbar_container:hover ~ .canvas_area{
    right: -178px;
}
.tool{
    height: 7%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b6163;
    transition: 0.3s ease-in-out;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}
.tool:hover{
    background-color: #1b6163;
    box-shadow: 1px 1px 10px 0px rgba(32, 32, 32, 0.965) inset;
}
.img_box{
    height: 2rem;
    width: 2rem;
}
img{
    max-height: 100%;
    max-width: 100%;
    margin-right: 0.5rem;
}
h4{
    width: 80%;
    color: black;
    margin-left: 0.5rem;
}
.active_tool{
    background-color: #1b6163;
    box-shadow: 1px 1px 10px 0px rgba(32, 32, 32, 0.965) inset;
}
.image_input{
    display: none;
    
}